.card{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 5px;
    padding: 25px;
    background-color: rgb(240, 77, 27);

}